<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i5lee8bit.char101.qslock">

    <application
        android:allowBackup="true"
        android:label="NoQSInLockScreen (P4 Mod)"
        android:supportsRtl="true"
        >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Disable quick settings in the lock screen (modified for Pixel 4 / 4 XL)" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
